*.png
*.npy
*.pt
*.txt
env/*
_archive
.vscode
__pycache__
trained_autoencoders/*
!trained_autoencoders/a1.pt
!trained_autoencoders/a2.pt
!trained_autoencoders/a3.zip.001
!trained_autoencoders/a3.zip.002
!trained_autoencoders/a4.pt
datasets/*
runs_archive/*
runs/*
tests/*
tests_archive/*